<div class="jumbotron jumbotron-fluid">
  <div class="container"><h1>Crear una nueva cuenta</h1>
    <p class="lead">Para poder registrar tus eventos</p>
    <%= link_to  "Regresar", root_path %>
 </div>
</div>
<div class="container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Dirección_de_Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4 form-control" %>
  </div>

  <div class="field">
    <%= f.label :"Contraseña" %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> carácteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "col-md-4 form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-4 form-control" %>
  <br>
  </div>

  <div class="actions">
    <%= f.submit "Crear cuenta", :class => "col-md-4 btn btn-primary" %> <br>
    <%= render "devise/shared/links" %>
  </div>
</div>

<% end %>


